* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: seashell;
}

img {
  width: 100%;
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: chocolate;
}

.anchor {
  position: relative;
  top: -225px;
}

@media (min-width: 1000px) {
  .anchor {
    top: -100px;
  }
}

@media (max-height: 500px) {
  .anchor {
    top: -110px;
  }
}

ul {
  list-style: none;
}

button {
  font-weight: 700;
  background-color: yellow;
  cursor: pointer;
  padding: 0.3em;
}

button:hover {
  background-color: orange;
  transition-duration: 0.4s;
}

button:active {
  background-color: red;
  transition-duration: 0s;
}

/* Typography */

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

form,
#email,
#submit {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

/* Layout */

.main-container {
  max-width: 1200px;

  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  margin-bottom: 1.5em;
}

.logo-image {
  width: 50px;
}

nav {
  text-align: center;
}

nav li {
  margin-bottom: 0.75em;
}

nav li:last-child {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }

  .logo {
    margin-bottom: 0;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 5em;
    margin-bottom: 0;
  }
}

@media (max-height: 500px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }

  nav li {
    margin-bottom: 0;
  }

  .logo {
    margin-bottom: 0;
  }
}

/* Form */

.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15em;
  margin-bottom: 5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-header {
  margin-bottom: 1em;
  text-align: center;
}

#email {
  width: 100%;
  max-width: 250px;
  padding: 0.25em;
  border-radius: 5px;
  margin-bottom: 0.75em;
}

@media (min-width: 1000px) {
  .section-form {
    margin-top: 10em;
  }
}

@media (max-height: 500px) {
  .section-form {
    margin-top: 10em;
  }
}

/* Info */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4em;
  max-width: 900px;
  width: 100%;
}

.info-item:last-child {
  margin-bottom: 0;
}

.info-header {
  margin-bottom: 0.5em;
}

.info-logo {
  color: chocolate;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

@media (min-width: 1000px) {
  .info-item {
    flex-direction: row;
    text-align: left;
  }

  .info-logo {
    margin-bottom: 0;
    margin-right: 2em;
  }
}

/* Video */

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  width: 100%;
}

iframe {
  width: 100%;
  max-width: 560px;
  border: 3px solid black;
}

/* Options */

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  max-width: 300px;
  margin-bottom: 2em;
  min-height: 400px;
}

.options-container:last-child {
  margin-bottom: 0;
}

.options h3 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5em 0;
  background-color: lightgray;
  border-bottom: 1px solid black;
}

.price {
  margin: 1em 0;
  font-size: 1.75rem;
  font-weight: 700;
}

.options-main {
  line-height: 1.75rem;
  text-align: center;
}

.options button {
  margin: 2em 0;
}

@media (min-width: 1000px) {
  .options {
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
  }

  .options-container {
    margin-bottom: 0;
  }
}

/* Footer */

footer {
  background-color: lightgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}

.footer-list {
  display: flex;
  margin-bottom: 0.5em;
}

.footer-list li {
  margin-left: 2em;
}

.footer-list li:first-child {
  margin-left: 0;
}
